@model PersonalklubbenHVAdmin.Models.Admins
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/CSS/Style.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <title>Logga in</title>

</head>
        <body>
            <div class=" bakgrundsbildlogin">   
                @using (Html.BeginForm())
                {
                    <div style="margin-top: 10%;" class="login-page">
                        <div class="form">
                            <form class="login-form">
                                <div>Användarnamn</div>
                                <div>@Html.TextBoxFor(m => m.Epostadress) </div>
                                <br />
                                <div>Lösenord</div>
                                <div>@Html.PasswordFor(m => m.Lösenord)</div>
                                <br />
                                <input class="loginbtn" type="submit" name="Logga In" value="Logga In">
                                <div>
                                    <br />
                                    <h5 style="color: red">@Html.ValidationSummary()</h5>
                                </div>
                            </form>
                        </div>
                    </div>
                }
            </div>
        </body>
</html>
