@model PersonalklubbenHVAdmin.ViewModels.CreateMemberViewmodel
@{
    ViewBag.Title = "CreateMember";
}

<h2>Registrera ny medlem  <span class="glyphicon glyphicon-plus-sign"></span> </h2>

<div class="container">
    <hr>
    <hr>
    <div class="row">
        <!-- left column -->
       <!-- <div class="col-md-3">
            <div class="text-center">
                <img src="//placehold.it/100" class="avatar img-circle" alt="avatar">
                <h6>Upload a different photo...</h6>

                <input type="file" class="form-control">
            </div>
        </div>
        <div class="col-md-9 personal-info">
            <div class="alert alert-info alert-dismissable">
                <a class="panel-close close" data-dismiss="alert">×</a>
                <i class="fa fa-coffee"></i>
                Viktigt! <strong></strong> Endast HV-Email är giltig.
            </div>
            <h3>Personlig information</h3>-->

            <form class="form-horizontal" role="form">
                <div class="form-group">
                    <label class="col-lg-3 control-label">Förnamn:</label>
                    <div class="col-lg-8">
                        <input class="form-control" type="text"placeholder="............">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-3 control-label">Efternamn:</label>
                    <div class="col-lg-8">
                        <input class="form-control" type="text" placeholder="............">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-lg-3 control-label">HV Email:</label>
                    <div class="col-lg-8">
                        <input class="form-control" type="text" placeholder="ex: mikael.danielsson@hv.se">
                    </div>
                </div>


                <div class="form-group">
                    <label class="col-lg-3 control-label">Institution:</label>
                    <div class="col-lg-8">
                        <div class="ui-select">

                            <select id="user_time_zone" class="form-control">
                                <option value="Ekonomi & IT">Ekonomi & IT (EI)</option>
                                <option value="Ingenjörsvetenskap">Ingenjörsvetenskap (IV)</option>
                                <option value="Individ och samhälle">Individ och samhälle (IoS)</option>
                                <option value="Institutionen för hälsovetenskap">Institutionen för hälsovetenskap (IH)</option>
                                <option value="Förvaltning">Förvaltning (Forv)</option>
                                <option value="Studentstöd och bibliotek">Studentstöd och bibliotek(SoB)</option>
                                <option value="Rektor">Rektor (R)</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-3 control-label">Giltig till:</label>
                    <div class="col-lg-8">
                        @Html.DropDownList("Years", new SelectList(Model.years as System.Collections.IEnumerable, Model.years.ToString()), new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.years)

                    </div>
                </div>
                @*<div class="form-group">
            <label class="col-md-3 control-label">Username:</label>
            <div class="col-md-8">
                <input class="form-control" type="text" value="janeuser">
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-3 control-label">Password:</label>
            <div class="col-md-8">
                <input class="form-control" type="password" value="11111122333">
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-3 control-label">Confirm password:</label>
            <div class="col-md-8">
                <input class="form-control" type="password" value="11111122333">
            </div>
        </div>*@
                <div class="form-group">
                    <label class="col-md-3 control-label"></label>
                    <div class="col-md-8">
                        <input type="button" class="btn btn-primary" value="Spara medlem">
                        <span></span>
                        <input type="reset" class="btn btn-default" value="Avbryt">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<hr>